*{
    padding: 0;
    margin: 0;
    font-family: main;
    text-decoration: none;
}
@font-face {
    font-family: "main";
    src: url(/fonts/main.ttf);
}
@font-face {
    font-family: "titles";
    src: url(/fonts/titles.ttf);
}
.navbar nav{
    display: flex;
    justify-content: center;
    
}
nav img{
    margin-top: 15px;
    width: 65px;
    height: auto;
}
.toptext{
    margin-top: 30px;
}
.toptext a{
    font-family: titles;
    margin: 30px;
    font-weight: bold;
    transition: 0.2s;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.toptext a:hover{
    border-bottom: 3px solid red;
    color: red;
}
.toptext .active{
    border-bottom: 3px solid red;
}
.mmenu{
    display: none;
}
.contactcont .contcube{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    height: 90vh;
}
.contactcont .cinfo{
    background: linear-gradient( to right , #0d3a54, red );
    height: 70vh;
    width: 30vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.cinfo h1{
    font-family: titles;
    color: #fff;
    margin-left: 50px;
    margin-top: 50px;
    border-bottom: 3px solid #fff;
    width: 500px;
}
.cinfo h2{
    color: #fff;
    margin: 20px 60px;
    font-size: 20px;

}
.cinfo h2 i{
    color: #fff;
    padding-right: 10px;
}
.contimg img{
    margin-top: 6vh;
    width: 100%; 
    height: 70vh;
    position: relative;
    overflow: hidden;
    margin: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.bottom{
    background: linear-gradient(45deg , #d52a1c,#0d3a54 );
    color: aliceblue;
    padding-bottom: 30px;
}
.bottom div{
    padding-top: 50px;
    text-align: center;
}
.bottom div p{
    padding: 10px 0;
}



@media (max-width: 1300px) {
    .navbar .toptext{
        display: none;
    }
    .navbar img{
        width: 45px;
        height: 35px;
    }



    .mmenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: absolute;
        top: 10px;
        left: 15px;
    }
    
    .menu-button {
        cursor: pointer;
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 4px 0;
        transition: 0.4s;
        z-index: 3;
    }
    
    .menu {
        display: none;
    }
    
    .menu.active {
        display: block;
        position: absolute;
        z-index: 2;
        background-color: #fff;
        left: 15px;
        top: 40px;
        transition: 1s;
        border-radius: 10px;
    }
    
    .menu ul {
        list-style: none;
        padding: 0;
        width: 150px;
        border: 1px solid gray;
        transition: 1s;
        border-radius: 10px;
    }
    
    .menu li {
        margin: 15px 0;
        text-align: center;
        transition: 1s;
    }
    
    .menu a {
        text-decoration: none;
        color: #000000;
        font-size: 18px;
    }
    .menu .mactive{
        border-bottom: 3px solid red;
    }
    .contactcont .contcube{
        margin-top: 10vh;
    }
    .contimg img{
        display: none;
    }
    .contactcont .cinfo{
        background-color: red;
        width: 350px;
        height: 500px;
        border-radius: 20px;
    }
    .cinfo h1{

        font-size: 25px;
        margin-left: 30px;
        margin-top: 50px;
        border-bottom: 3px solid #fff;
        width: 300px;
    }
    .cinfo h2{
        color: #fff;
        margin: 10px 40px;
        font-size: 18px;
    }
    .bottom .mbot{
        display: block;
        margin: auto;
  
     }
     .bottom .infos{
        width: 250px;
        margin-left: 15px;
    }
    .bottom .infos h1{
        font-size: 25px;
        border-bottom: 3px solid aliceblue;
    }
    .bottom .infos h2{
        font-size: 15px;
    }
    .bottom .infos i{
        padding-right: 5px;
        font-size: 15px;
    }
    .bottom .social{
       text-align: center;
       font-size: 40px;
       padding: 20px 0;
    }
    .bottom p{
        font-size: 12px;
    }
}